<section id="item_<%= post.id %> scroll_item">
  <div class="caseContainer">
    <p class="meta">
      With
      <strong><%= post.client %></strong>
      in
      <strong><%= post.year %></strong>
    </p>

    <h1>
      <%= post.title %>
    </h1>

    <p class="learnMore">
      Click to learn more
    </p>

    <figure class="featuredPreview">
    </figure>

    <p class="description">
      <%= post.description %>
    </p>
  </div>
</section>
