<%= form_for [@post, item], remote: true do |form| %>
  <div style="margin-top: 50px;">
    <%= form.file_field :image %>

    <div class="field">
      <%= form.label :caption %>
      <%= form.text_field :caption, id: :item_caption %>
    </div>

    <div class="field">
      <%= form.label :order %>
      <%= form.text_field :order, id: :item_order %>
    </div>

    <div class="field">
      <%= form.label :url %>
      <%= form.text_field :url, id: :item_url %>
    </div>

    <div class="field">
      <%= form.label :type %>
      <%= form.text_field :type, id: :item_type %>
    </div>

    <%= form.hidden_field :post_id, :value => Post.last.id + 1 %>

    <div class="actions">
      <%= form.submit 'Сохранить' %>
    </div>
  </div>
<% end %>
