<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @item.caption %>
</p>

<p>
  <strong>Order:</strong>
  <%= @item.order %>
</p>

<p>
  <strong>Url:</strong>
  <%= @item.url %>
</p>

<p>
  <strong>Type:</strong>
  <%= @item.type %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
